{% extends 'layout.html' %}
{% block subcontent %}
  <form method = "POST" action="">
  <label for="username">Username</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="passwd">Password:</label>
  <input type="text" id="passwd" name="passwd"><br><br>
    <label for="First_Name">First name:</label>
  <input type="text" id="First_Name" name="first_name"><br><br>
    <label for="Last_name">Last name:</label>
  <input type="text" id="Last_Name" name="last_name"><br><br>
    <label for="Date_Of_Birth">Date of Birth:</label>
  <input type="text" id="Date_Of_Birth" name="date_of_birth"><br><br>
  <input type = "submit">
  </form>
</div>
{% endblock %}
