{% extends 'layout.html' %}
{% block subcontent %}
<div>
<table class="centered thick-border" style="width:70%">
  <tr>
    <th>ID</th>
    <th>Ticker</th>
    <th>Description</th> 
    <th>Quantity</th>
    <th>Price</th> 
    <th>Value</th>
    <th>Cost</th> 
    <th>Regular Investment</th>
    <th>Dividend Reinvestment</th>
    <th>Dividend Amount</th>
  </tr>
{% for i in investment %} 
  <tr>
    <th>{{ i[0] }}</th>
    <th>{{ i[1] }} </th>
    <th>{{ i[2] }}</th> 
    <th>{{ i[3] }}</th>
    <th>{{ i[4] }}</th> 
    <th>{{ i[5] }}</th>
    <th>{{ i[6] }}</th>
    <th>{{ i[7] }}</th> 
    <th>{{ i[8] }}</th>
    <th>{{ i[9] }}</th>
  </tr>
    {% endfor %}
</table>
<form method = "POST" action="">
  <label for="id">ID:</label>
  <input type="text" name="id"><br><br>
  <label for="ticker">Ticker:</label>
  <input type="text" name="ticker"><br><br>
  <label for="description">Description:</label>
  <input type="text" name="description"><br><br>
  <label for="quantity">Quantity:</label>
  <input type="text" name="quantity"><br><br>
  <label for="price">Price:</label>
  <input type="text" name="price"><br><br>
  <label for="Value">Value:</label>
  <input type="text" name="value"><br><br>
  <label for="cost">Cost:</label>
  <input type="text" name="cost"><br><br>
  <label for="regular_investment">Regular Investment:</label>
  <input type="text" name="regular_investment"><br><br>
  <label for="dividend_investment">Dividend Investment:</label>
  <input type="text" name="dividend_investment"><br><br>
  <label for="dividend_amount">Dividend Amount:</label>
  <input type="text" name="dividend_amount"><br><br>
  <!-- Buttons -->
  <p><button name="action" value="submit">Submit</button></p>
  <p><button name="action" value="delete">Delete</button></p>
  <p><button name="action" Value="update">Update</button></p>
  </form>
</div>
{% endblock %}
